<%- include ('../partials/header') %>
<body>
	<%- include ('../partials/menu') %>
	<div class="container-fluid">
		<br>
		<div class="row d-flex">
			<div class="col-md-3 justify-content-center">
				<div class="card">
					<div class="card-header">
						<h3>Present Directory</h3>
					</div>
					<div class="card-body">
						<ul class="list-group list-group-flush" id="file_directory">
							<a class="list-group-item list-group-item-action" href="">Documents</a>
							<% let generateDirectory = function(directory) {
								if (true) {
									let sub_directory = '<ul class = "list-group list-group-flush">'
									console.log(Object.keys(directory));
									Object.keys(directory).forEach(folder => {
										sub_directory += `<a class="list-group-item list-group-item-action" href="">${folder}</a>`
									})
									sub_directory += '</ul>';
									return sub_directory;
								}
								else return '';
							} %>
							<% let directory_element = generateDirectory(user_folders); %>
							<%- directory_element %>
						</ul>
					</div>
				</div>
				<br>
				<div class="d-flex row justify-content-center">
					<div class="col-sm-5">
						<button class="rounded bg-dark btn-outline-dark text-light" onclick="createNewDocument()">
							New Document
						</button>
					</div>
					<div class="col-sm-5">
						<button class="rounded bg-dark btn-outline-dark text-light" onclick="createNewFolder()">
							New Folder
						</button>
					</div>
				</div>

			</div>
			<div class="col">
				<div class="flex-row bg-light">
					<div class="card-header">
						<h3>Present Folder</h3>
					</div>
					<div class="container-fluid">
						<div class="row"  id="document_window">
							<% let documents = ''; %>
							<% user_docs.forEach(document => {
								documents += `
								<div class="col-auto">
									<a class="card bg-transparent border-0" href="#">
										<div class="card-body bg-transparent text-center">
											<img src="../../resources/img/document.png" width=150 height=150>
										</div>
										<div class="card-footer bg-transparent text-center">${document.title}</div>
									</a>
								</div>
								`
							}); %>
							<%- documents %>
							<div class="col"></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
<footer>
	<%- include('../partials/script_loader') %>
</footer>
</html>