<%- include ('../partials/header') %>
<body>
	<%- include ('../partials/menu') %>
	<div class="container-fluid">
		<br>
		<div class="row d-flex">
			<div class="col-md-3 justify-content-center">
				<div class="card">
					<div class="card-header">
						<h3>Present Directory</h3>
					</div>
					<div class="card-body">
						<% let generateDirectory = function(directory, level) {
							let show = (level < 2) ? ' show' : ''
							let sub_folders = Object.keys(directory)
							sub_folders.forEach(sub_folder => {
								sub_folder_id = sub_folder.replace(/ /g, '___')
								if (Object.keys(directory[sub_folder]).length)
								{
									let directory_element = `
										<div class="accordian accordian-flush">
											<div class="accordian-item">
												<div class="accordian-header" id="${sub_folder_id}_directory">
													<button class="accordion-button col py-2 ps-1" type="button" data-bs-toggle="collapse" data-bs-target="#${sub_folder_id}">
														${sub_folder}
													</button>
												</div>
												<div class="accordian-collapse collapse${show}" id="${sub_folder_id}">
													<div class="accordian-body" style="padding-left:20px">`
														%><%- directory_element %><%
														generateDirectory(directory[sub_folder], level + 1)
														directory_element = `
													</div>
												</div>
											</div>
										</div>`
									%><%- directory_element %><%
								}
								else {
									let terminating_element = `
										<ul class="list-group list-group-flush">
											<button class="list-group-item text-start py-2 ps-0" type="button">
												${sub_folder}
											</button>
										</ul>`
									%><%- terminating_element %><%
								}
							});
						} %>
						<% generateDirectory(user_folders, 0); %>
					</div>
				</div>
				<br>
				<div class="d-flex row justify-content-center">
					<div class="col-sm-5">
						<button class="rounded bg-dark btn-outline-dark text-light" onclick="createNewDocument()">
							New Document
						</button>
					</div>
					<div class="col-sm-5">
						<button class="rounded bg-dark btn-outline-dark text-light" onclick="createNewFolder()">
							New Folder
						</button>
					</div>
				</div>

			</div>
			<div class="col">
				<div class="flex-row bg-light">
					<div class="card-header">
						<h3>Present Folder</h3>
					</div>
					<div class="container-fluid">
						<div class="row"  id="document_window">
							<% let documents = ''; %>
							<% user_docs.forEach(document => {
								documents += `
								<div class="col-auto">
									<a class="card bg-transparent border-0" href="#">
										<div class="card-body bg-transparent text-center">
											<img src="../../resources/img/document.png" width=150 height=150>
										</div>
										<div class="card-footer bg-transparent text-center">${document.title}</div>
									</a>
								</div>
								`
							}); %>
							<%- documents %>
							<div class="col"></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
<footer>
	<%- include('../partials/script_loader') %>
</footer>
</html>